@import "~assets/defs.scss";

.desktop {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;

    .paper {
        position: absolute;
        border: 1px solid #ff0;
        background-image: url('~assets/imgs/texture6.png');

        .center {
            position: absolute;
            width: 100px;
            height: 100px;
            top: #{($paperFullWidth - 100) * 0.5}px;
            left: #{($paperFullHeight - 100) * 0.5}px;
        }
    }
}
